* {
    box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Roboto', sans-serif;
  /*background-color: lightgrey;*/
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-size: 125%;
}

#logo {
  width: 75%;
/*  width=825 height=291    img dimensions sfor html */
}

main {
  margin-top: 3em;
  background-color: rgba(22, 33, 22, 0.7);
  padding-bottom: 5em;
  z-index: 0
}

main p {
  /*padding-left: 5em;*/
  padding-left: 50px;
  color: #ddd;
}

a, a:link, a:visited, a:active {
text-decoration: underline;
color: grey;
}

a:hover {
  color: #4CAF50;
}

header[role="banner"] {
  padding-left: 4em;
  margin: 20px auto;
}
/*mobile stuff saving for later
        will probably never need this again thanks to bootstrap*/
/**/
/**/
/*ul.topnav li.right,
ul.topnav li {
  float: none;
  line-height: .5;
}

nav a {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

ul.topnav a {
  padding: 2px;
  line-height: .5em;
}

h1 {
  margin: auto;
  text-align: center;
}

p {
  padding-left: 0em;
  text-align: center;
}
*/
/* ^^ mobile ^^*/

.page-header {
  color: #efefef;
  margin: 40px 0 20px;
  border-bottom: 1px solid #4caf50;
  padding-left: .5em;
  margin-left: 3em;
}


/*bootstrap navbar colorizing from twbscolor edited further by hand*/
.navbar-default {
  margin-left: 1em;
  background-color: #191970;
  border: 0;
  opacity: .6;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 10px;
  z-index: 10
  /*border-color: #4caf50;*/
}
.navbar-default .navbar-brand {
  color: #ffffff;
  text-decoration: none;
  padding-left: 2em;
  padding-right: 1em;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  text-decoration: none;
}

.navbar-default .navbar-brand.active {
  color: #ffffff;
  background-color: #4caf50;
  text-decoration: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-decoration: none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #4caf50;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #4caf50;
  text-decoration: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #4caf50;
  background-color: midnightblue;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav .open .dropdown-menu {
  background-color: #090960;
  color: white;
  text-decoration: none;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #4caf50;
}
/*
.navbar-default .navbar-nav .open .dropdown-menu>li>p {
  text-decoration: none;
}*/

.navbar-default .navbar-toggle {
  border-color: #4caf50;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #4caf50;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {

  main p {
    /*margin: 0;*/
    margin-left: 0;
    padding-left: 0;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #4caf50;
  }
}


/*nav ul, nav a {
  padding-left: 0em;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 3px;
}*/

.logocontainer {
  /*display: block;*/
  /*max-height: 291px;*/
  /*max-width: 825px;*/
  /*height: auto;
  width: auto;*/
  /*border: 1px solid red;*/
}


/*
#blurrer {
  filter: blur(2px);
  z-index: 1;
}*/
