* {
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

html, body, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  /*background-color: lightgrey;*/
  overflow-x: hidden;
}

body {
  /*background-size: cover;
  background-repeat: no-repeat;*/
  background-color: black;
  background-size: 125%;
  position: relative;
  color: #eee;
}

.page-header {
  border-bottom: 0;
  background-color: rgba(25, 25, 115, .4);
  margin-top: 0;
  margin-bottom: 0;
}

#logo {
  width: 75%;
/*  width=825 height=291    img dimensions for html */
}

a, a:link, a:visited, a:active {
text-decoration: underline;
color: grey;
}

a:hover {
  color: #4CAF50;
}

/*header[role="banner"] {
  padding-left: 4em;
  margin: 20px auto;
}*/
/*mobile stuff saving for later
        will probably never need this again thanks to bootstrap*/
/**/
/**/
/*ul.topnav li.right,
ul.topnav li {
  float: none;
  line-height: .5;
}

nav a {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

ul.topnav a {
  padding: 2px;
  line-height: .5em;
}

h1 {
  margin: auto;
  text-align: center;
}

p {
  padding-left: 0em;
  text-align: center;
}
*/
/* ^^ mobile ^^*/

/*.page-header {
  color: #efefef;
  margin: 40px 0 20px;
  /*border-bottom: 1px solid #4caf50;*/
  /*padding-left: .5em;*/
  /*margin-left: 3em;
}*/

.row {
  margin-left: 0;
  margin-right: 0;
}

/*bootstrap navbar colorizing from twbscolor edited further by hand*/
.navbar-default {
  /*position: sticky;*/
  /*margin-left: 1em;*/
  background-color: rgba(25,25,112, .6);
  border: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 10px;
  /*z-index: 10*/
  /*border-color: #4caf50;*/
}
.navbar-default .navbar-brand {
  color: #ffffff;
  text-decoration: none;
  padding-left: 2em;
  padding-right: 1em;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #4caf50;
  text-decoration: none;
}

.navbar-default .navbar-brand.active {
  color: #ffffff;
                      /*bg green hex #4caf50*/
  /*background-color: rgba(76, 175, 80, .85);*/
  background-color: .radial(#333; #000);
  text-decoration: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  /*border-top-left-radius: 50px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;*/
  text-decoration: none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #4caf50;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: rgba(25, 25, 112, .6);
  /*background-image: linear-gradient(top, #4F364C, #FFFFFF);*/
  background: -webkit-radial-gradient(circle, #4caf50, midnightblue);
  background: radial-gradient(circle, rgba(76, 175, 80, 1) 15%, rgba(0, 0, 0, 0) 75%);
  background-repeat: no-repeat;
  text-decoration: none;
}

/*dropdown list head*/
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #4caf50;
  background-color: inherit;
}

.navbar-default .navbar-nav li.divider {
  background-color: #4caf50;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: white;
  text-decoration: none;
}

.navbar-default .navbar-nav .open .dropdown-menu {
  background-color: rgba(25,25,112, .6);

}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #4caf50;
  background-color: inherit;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>p {
  background-color: inherit;
}

.navbar-default .navbar-nav .dropdown-menu > li {
  /*background-color: rgba(25,25,112, .6);*/
}

.navbar-default .navbar-toggle {
  border-color: #4caf50;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: inherit;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

#bluish {
  background-color: rgba(25, 25, 115, .4);
  height: 100vh;
}

.jumbotron {
  margin-top: 0;
  color: #eee;
  text-align: center;
  font-size: 4em;
  /*height: 150%;*/
  /*position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);*/
  background-image: url('https://i.imgur.com/Alyt1cv.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-size: 125%;
  margin-bottom: 0;
}

.jumbotron {
  position: relative;
  /*border-bottom: 1px solid #4caf50;*/
  /*border: 1px solid red;*/
  height: 100vh;
  overflow:  hidden;
  /*top: 450px;*/
  /*transform: translateY(-50%);*/
}

.jumbotron hr {
  border-color: #4caf50;
}

.jumbotron h2 {
  font-size: 3em;
  letter-spacing: .02em;
}

.jumbotron h3 {
  font-size: 1.5em;
}

h3, h4 {
  color: white;
  text-align: center;
}

h3 :not(.jumbotron) {
  text-decoration: underline;
  text-decoration-color: #4caf50;
}

.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#bio {
  background: #111; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(25, 25, 115, .4), #111); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(25, 25, 115, .4), #111); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(25, 25, 115, .4), #111); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(25, 25, 115, .4), #111); /* Standard syntax */
}

.skills {
  padding: 0 4em;
}

.skill > h4 {
  color: #4caf50;
}

.skill {
  /*background-color: rgba(25, 25, 115, .4);*/
  border: 1px solid rgb(25, 25, 115);
  border-radius: 45px;
  /*padding: 1em;*/
  text-align: center;
  margin-bottom: 1em;
}

.skill img {
  margin-top: 1em;
  border: 1px solid #4caf50;
  border-radius: 25px;
}
.small {
  color: #aaa;
  font-size: .7em;
  padding-left: .8em;
}

.green {
  color: #4caf50;
}

.section {
  height: 100vh;
}


#aboutme > div > ul > li {
  font-size: 1.2em;
  line-height: 1.8em;
  list-style-type: circle;
  margin-bottom: .6em;
  color: #4caf50;
}

.lihack {
  color: #eee;
}

#aboutme > div > ul > li::marker {
  margin: 0 3em 0 0;
  color: #4caf50;
}

.project {
  border: 1px solid #4caf50;
  margin: 2em auto;
  height: 300px;
  width: 300px;
}

@media (max-width: 767px) {

  main p {
    /*margin: 0;*/
    margin-left: 0;
    padding-left: 0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: inherit;
  }

  .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
  }

  .navbar .navbar-collapse {
      text-align: center;
  }

  .navbar-collapse {
    border: none;
    border-color: #4caf50;
  }

  .navbar-default .navbar-nav > li {
    margin-right: 80%;
    border-radius: 10px;
    width: 100%;
  }

  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-brand > a {
    border-radius: 10px;
    /*text-align: center;*/
    width: 100%;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-brand.active  {
    color: #ffffff;
    background-color: inherit;
    text-decoration: underline;
    font-weight: bolder;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
    background-color: none;
    margin: auto;
    /*border-top: 1px solid #4caf50;*/
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #4caf50;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: none;
  }
  .dropdown-toggle {
    margin:auto;
  }
  .page-header {
    color: #efefef;
    margin: 40px 0 20px;
    border-bottom: 1px solid #4caf50;
    padding-left: .5em;
    margin-left: 1em;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background: -webkit-radial-gradient(circle, rgba(76, 175, 80, 1) 0%, rgba(0, 0, 0, 0) 55%);
    background: radial-gradient(circle, rgba(76, 175, 80, 1) 0%, rgba(0, 0, 0, 0) 55%);

  }

  .jumbotron h2 {
    font-size: 2em;
  }

  .jumbotron h3 {
    font-size: 1.1em;
  }

}
